@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#preloader{
  background: #000 url(/images_videos/bc56b31a50e519be2ed335a47e75bc62.gif) no-repeat center center;
 background-size: 25%;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
}
header
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo
{    transform: translate(-40%,-23%);
width: 320px;
}
.toggle
{
    transform: translate(130%, -40%);
  position: relative;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}
.toggle.active
{
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  cursor: pointer;
}
.showcase
{
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
  z-index: 2;
}
.showcase.active
{
  right: 300px;
}

.showcase video
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #03a9f4;
  mix-blend-mode: overlay;
}
.text
{
  position: relative;
  z-index: 10;
}

.text h2
{  font-size: 3rem;
    font-weight:  bold 400;
      color: antiquewhite;
position: relative;
      left: 0;
}
    

.text h3
{
  font-size: 2em;
  font-weight: 700;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;
}
.text p
{
  font-size: 1.1em;
  color: #fff;
  margin: 20px 0;
  font-weight: 400;
  max-width: 700px;
}
.text a
{
  display: inline-block;
  font-size: 1em;
  background: orange;
  padding: 10px 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  margin-top: 10px;
  color: #111;
  letter-spacing: 2px;
  transition: 0.2s;
  border-radius: 15px;
}
.text a:hover
{
  letter-spacing: 6px;
}
.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: .5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{transform: translate(0,-150%);
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{font-weight: 500;
  text-decoration: none;
  font-size: 18px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 700px)
{
  .showcase,
  .showcase header
  {
    padding: 100px;
  }
  .text{
    padding-top:55px;
  }
  .text h2
  {
    font-size: 2em;
  }
  .text h3
  {
    font-size: 1em;
  }
}
@media (max-width: 900px)
{
  .showcase,
  .showcase header
  {
    padding: 80px;
  }
  .text h2
  {
    font-size: 2em;
  }
  .text h3
  {
    font-size: 1em;
  }
  .text p{
    font-size:1em;
  }
}







































































